<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="gr_web_albany_edu"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="CVML Celeb-DF dataset, University at Albany, State University of New York">
<meta name="description" content="CVML Celeb-DF dataset">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jemdoc.css') }}" type="text/css" />
<head>
<title>DeepFakeOmetert</title>
</head>


<body data-gr-c-s-loaded="true">
<h1 align="center">DeepFake-o-meter </h1>
<p align="center">An open platform for DeepFake video detection
</p>


<h2>Wrong Input!</h2>
<h3>There is something wrong with your input video, please return back and check your video.</h3>

<footer style="margin-top: 40px">
<hr>
&copy; Computer Vision and Machine Learning Lab (<a href="http://www.cs.albany.edu/~lsw/">CVML</a>) 2020
</footer>
</body></html>
