<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="gr_web_albany_edu"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="CVML Celeb-DF dataset, University at Albany, State University of New York">
<meta name="description" content="CVML Celeb-DF dataset">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jemdoc.css') }}" type="text/css" />
<head>
<title>DeepFakeOmetert</title>

</head>
<body>


 <big><big><b>Reference</b></big></big>
            <br><br>
   <b>Capsule:</b> Nguyen H H, Yamagishi J, Echizen I, et al. Use of a Capsule Network to Detect Fake Images and Videos.[J]. arXiv: Computer Vision and Pattern Recognition, 2019.
   [<a href="https://github.com/nii-yamagishilab/Capsule-Forensics-v2">Github</a>] [<a href="https://arxiv.org/abs/1810.11215">Paper</a>]
            <br><br>
   <b>ClassNSeg:</b> Nguyen, Huy H., et al. "Multi-task learning for detecting and segmenting manipulated facial images and videos." arXiv preprint arXiv:1906.06876 (2019).
            [<a href="https://github.com/nii-yamagishilab/ClassNSeg">Github</a>]  [<a href="https://arxiv.org/abs/1906.06876">Paper</a>]
            <br><br>
   <b>DSP-FWA:</b> Li Y, Lyu S. Exposing DeepFake Videos By Detecting Face Warping Artifacts[J]. arXiv: Computer Vision and Pattern Recognition, 2018.
            [<a href="https://github.com/danmohaha/DSP-FWA">Github</a>]  [<a href="https://arxiv.org/abs/1811.00656">Paper</a>]
            <br><br>
   <b>FWA:</b> Li, Yuezun, and Siwei Lyu. "Exposing deepfake videos by detecting face warping artifacts." arXiv preprint arXiv:1811.00656 (2018).
            [<a href="https://github.com/danmohaha/CVPRW2019_Face_Artifacts">Github</a>]  [ <a href="https://arxiv.org/abs/1811.00656">Paper</a>]
           <br><br>
   <b>MesoNet:</b> Yang, Xin, Yuezun Li, and Siwei Lyu. "Exposing deep fakes using inconsistent head poses." ICASSP 2019-2019 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP). IEEE, 2019.
            [<a href="https://bitbucket.org/ericyang3721/headpose_forensic/src">Github</a>]  [<a href="https://arxiv.org/abs/1811.00661">Paper</a>]
            <br><br>
   <b>Upconv:</b> Durall, Ricard, Margret Keuper, and Janis Keuper. "Watch your Up-Convolution: CNN Based Generative Deep Neural Networks are Failing to Reproduce Spectral Distributions." Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition. 2020.
            [<a href="https://github.com/cc-hpc-itwm/UpConv">Github</a>]  [<a href="https://arxiv.org/abs/2003.01826">Paper</a>]
            <br><br>
   <b>VA:</b> Matern, Falko, Christian Riess, and Marc Stamminger. "Exploiting visual artifacts to expose deepfakes and face manipulations." 2019 IEEE Winter Applications of Computer Vision Workshops (WACVW). IEEE, 2019.
            [<a href="https://github.com/FalkoMatern/Exploiting-Visual-Artifacts">Github</a>]  [<a href="https://ieeexplore.ieee.org/document/8638330">Paper</a>]
            <br><br>
   <b>XceptionNet:</b> Rossler, Andreas, et al. "Faceforensics++: Learning to detect manipulated facial images." Proceedings of the IEEE International Conference on Computer Vision. 2019.
            [<a href="https://github.com/ondyari/FaceForensics">Github</a>]  [<a href="https://arxiv.org/abs/1901.08971">Paper</a>]
            <br><br>
    <b>CNNDetection:</b> Wang S, Wang O, Zhang R, et al. CNN-generated images are surprisingly easy to spot... for now.[J]. arXiv: Computer Vision and Pattern Recognition, 2019.
             [<a href="https://github.com/peterwang512/CNNDetection">Github</a>]  [<a href="https://arxiv.org/abs/1912.11035">Paper</a>]
             <br><br>
   <b>Selim:</b> 1st of the DFDC competition
          [<a href="https://github.com/selimsef/dfdc_deepfake_challenge">Github</a>]
          <br><br>
   <b>WM:</b> 2nd of the DFDC competition
             [<a href="https://github.com/cuihaoleo/kaggle-dfdc">Github</a>]
            <br><br>



            <footer style="margin-top: 40px">
            <hr>
            &copy; Computer Vision and Machine Learning Lab (<a href="http://www.cs.albany.edu/~lsw/">CVML</a>) 2020
            </footer>

</body>
</html>
