<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="UBDFML DeepFakeOmeter, State University of New York at Buffalo">
<meta name="description" content="UBDFML DeepFakeOmeter">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jemdoc.css') }}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='css/mycss.css')}}" type="text/css" />
<title>DeepFakeOmetert</title>
</head>


<table>
	<tbody>
		<tr>
			<td width="150">
				<img src={{ url_for('static', filename='images/deepfakeometer2.png') }} border="0" width="100" style="float:right">
			</td>
			<td>									
				<h1 align="center"><b><big>DeepFake-o-meter</b> </big></h1>
				<p><big>An open platform integrating state-of-the-art DeepFake detection methods</big></p>
            </td>			
		</tr><tr>
	</tr></tbody>
</table>


<h2>Wrong {{type}}!</h2>
<h3>There is something wrong with your {{error}}, please return back and check your {{error}}.</h3>


<footer style="margin-top: 40px">
<hr>
&copy; UB Media Forensic Lab (<a href="http://www.cs.albany.edu/~lsw/">UB MDFL</a>) 2020
</footer>

</body></html>
