<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeepFake Detection Result</title>
</head>

<body>

    <form action="/" method="post">
        <div class="MyDiv">
            <h2>Select the DeepFake Detection method.</h2>
            <label>
                <input type="checkbox" name="method" value="Capsule"> Capsule
            </label>
            <b1><a href="https://github.com/nii-yamagishilab/Capsule-Forensics-v2">[Github]</a>   <a href="https://arxiv.org/abs/1810.11215"> Use of a Capsule Network to Detect Fake Images and Videos</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="ClassNSeg"> ClassNSeg
            </label>
            <b1> <a href="https://github.com/nii-yamagishilab/ClassNSeg">[Github]</a> <a href="https://arxiv.org/abs/1906.06876"> Multi-task Learning For Detecting and Segmenting Manipulated Facial Images and Videos</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="DSP-FWA"> DSP-FWA
            </label>
            <b1> <a href="https://github.com/danmohaha/DSP-FWA">[Github]</a> <a href="https://arxiv.org/abs/1811.00656"> DSP-FWA: Dual Spatial Pyramid for Exposing Face Warp Artifacts in DeepFake Videos</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="FWA"> FWA
            </label>
            <b1> <a href="https://github.com/danmohaha/CVPRW2019_Face_Artifacts">[Github]</a> <a href="https://arxiv.org/abs/1811.00656"> Exposing DeepFake Videos By Detecting Face Warping Artifacts</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="MesoNet"> MesoNet
            </label>
            <b1> <a href="https://bitbucket.org/ericyang3721/headpose_forensic/src">[Github]</a> <a href="https://arxiv.org/abs/1811.00661"> Exposing Deep Fakes Using Inconsistent Head Poses</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="Upconv"> Upconv
            </label>
            <b1> <a href="https://github.com/cc-hpc-itwm/UpConv">[Github]</a> <a href="https://arxiv.org/abs/2003.01826"> Watch your Up-Convolution: CNN Based Generative Deep Neural Networks are Failing to Reproduce Spectral Distributions</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="VA"> VA
            </label>
            <b1> <a href="https://github.com/FalkoMatern/Exploiting-Visual-Artifacts">[Github]</a> <a href="https://ieeexplore.ieee.org/document/8638330"> Exploiting Visual Artifacts to Expose Deepfakes and Face Manipulations</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="XceptionNet"> XceptionNet
            </label>
            <b1> <a href="https://github.com/ondyari/FaceForensics">[Github]</a> <a href="https://arxiv.org/abs/1901.08971"> FaceForensics++: Learning to Detect Manipulated Facial Images</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="CNNDetection"> CNNDetection
            </label>
            <b1> <a href="https://github.com/PeterWang512/CNNDetection">[Github]</a> <a href="https://arxiv.org/abs/1912.11035"> CNN-generated images are surprisingly easy to spot...for now</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="Selim"> Selim
            </label>
            <b1> <a href="">[Github]</a> 1st of the DFDC competition</a> </b1>
            <br>
            <label>
                <input type="checkbox" name="method" value="WM"> WM
            </label>
            <b1> <a href="">[Github]</a> 2nd of the DFDC competition </b1>
            <br>
             <h2>Select videos(from Celeb-DF Dataset) to be analysed.</h2>
            <label>
                <input type="checkbox" name="video" value="id1_0005_vis_"> Real Video: id17_0005_vis.mp4
            </label>
            <br>
            <label>
                <input type="checkbox" name="video" value="id1_id0_0005_vis_"> Fake Video: id1_id0_0005_vis.mp4
            </label>
            <br>
            <label>
                <input type="checkbox" name="video" value="id7_0002_vis_"> Real Video: id7_0002_vis.mp4
            </label>
            <br>
             <label>
                <input type="checkbox" name="video" value="id7_id10_0002_vis_"> Fake Video: id7_id10_0002_vis.mp4
            </label>
            <br>
             <label>
                <input type="checkbox" name="video" value="id13_0005_vis_"> Real Video: id13_0005_vis.mp4
            </label>
            <br>
             <label>
                <input type="checkbox" name="video" value="id13_id7_0005_vis_"> Fake Video: id13_id7_0005_vis.mp4
            </label>
            <br>
             <label>
                <input type="checkbox" name="video" value="id17_0005_vis_"> Real Video: id17_0005_vis.mp4
            </label>
            <br>
             <label>
                <input type="checkbox" name="video" value="id17_id9_0005_vis_"> Fake Video: id17_id9_0005_vis.mp4
            </label>
            <br>
        </div>
        <input type="submit" value="Submit"/>
    </form>
{% for data in datas %}
    <div><img src="static/gif/{{data['name']}}" alt="" /></div>
    <!-- <video width="600" height="300" controls="controls" autoplay="autoplay" >
      <source src="static/movies/{{data['name']}}" type="video/mp4" />
    </video> -->
    <p>{{data['note']}}</p>
{% endfor %}
</body>
